<%- include('partials/header'); -%>
  <div id="changeBg">
    <%if (success !='' ){%>
        
      <div class="alert alert-primary" role="alert">
        <%= success%>
      
      </div>
      <%}%>

        <%if ( error !='' ){%>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
              <%= error %>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%}%>
            <div class="container">
              <% if (typeof data[0] !== 'undefined' ) {%>
                <br>
                <h5 class="text-center" style="color: blueviolet;" > Here are your search results </h5>
               <br><br>
                <table class="table">
                   <thead>
                     <tr>
                       <th scope="col">Name</th>
                       <th scope="col">Action</th>
                     </tr>
                   </thead>
                   <tbody>
                <% for (let index = 0; index < data.length; index++) { %>
                       <tr>
                       <td><%= data[index] %></td>
                       <td><a class="btn btn-sm btn-danger" href="/removeFriend/?action=<%=data[index]%>"> Remove from Friend List </a></td>
                   </tr>  
                 
                 <% } %>
                   </tbody>
               </table>
                 
               <%} else {%> 
              <br><br><br><br><br><br><br>
              <h5 class="text-center" >  Opps you don't have any user in your friendList </h5>
                
                <% } %>
                   
            </div>


            <% for (let index=0; index < 15; index++) { %>
              <br>

              <% } %>

  </div>

  </div>
  </body>

  </div>